*{
    box-sizing:border-box;
}

img {
background-size: 0 !important;

}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}
head, body, p {
    font-family: "Metal Mania", system-ui;

}
body {
      background-color: #119b84;
      text-align: center;
      min-height:100vh;
       overflow: hidden;
      
}

h2 {
  text-shadow: 2px 2px #ac2020;
  color: #511515;
  text-align: center;
  font-size: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
#round {
  margin-top: 10px;
}

h3 { 
  color: #511515;
}

p {
  font-weight: bolder;
  font-size: 25px;  
  color: #ac2020;
}
.outer-container {
  margin: 0 200px;
  width: 1000px;
  height: 600px;
  padding: 0 0;
  border-radius: 20px;
  

}
.container {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 3em;
  overflow: hidden;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color:#fe8738;
  border:1px solid black;
  cursor: pointer;

}

button:hover {
  background-color:#119b84;
}
  
#scissors{
padding: 30px 30px;
}

img {
  width:70px;
  height: auto;
    background:none;
}

.icon {
  display: flex;
  justify-content: space-evenly;
  
}
#steve {
  width: 110px;
  height: 110px;
  border-radius: 10px;

}
#zombie img{
  width: 100px;
  height: 900px;

}

#label {
  font-size: small;
  padding: 0;
}

.icon {
  display: flex;
  align-content: center;
  border: 1px brown solid;
  padding-bottom:30px;
  border-radius: 10px;
  background-color: #fe8738;
}

.result {
  margin:20px;
  color:#ac2020;
  font-weight: bolder;
  font-size: larger;
}
