**{
    box-sizing:border-box;
}

body {
      background-color: plum;
      text-align: center;
}

h1 {
  color:blanchedalmond;
  text-align: center;
  font-size: 50px;
}
h1{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

p {
  font-weight: 600;
  font-size: 25px;  
}

.container {
  display: flex;
  justify-content: center;
  margin:100px;
  gap: 0.5em;
}

button {
  padding: 40px;
  border-radius: 10px;
  background-color: rgb(243, 221, 192);
  border:1px solid black;
  cursor: pointer;

}

#scissors{
padding: 40px 30px;
}